
.DS_Store
data/image_collage
data/images
data/images_resized
data/tfrecord_collage
data/tfrecord_id_first
data/tfrecord_labeled
data/tfrecord_labeled_small
data/tfrecord_unlabeled

archive/
data/
logs/
__pycache__/
